h1{
color:blueviolet; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;
}

h2{
    color:blueviolet; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: left;text-decoration: underline;

}

li{font-weight: lighter;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}