h1{
color:blueviolet; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;
}
h2{ color:darkmagenta; font-style: italic; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;
font-size: small;

}

h3{
    color:blueviolet; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: left;text-decoration: underline;
}
